.contact
{ 
    /* background-color: #111838FF; */
    background-color:#2F9599;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Jura', sans-serif;
}

.Contact-main
{
    /* background-color: rgb(50, 51, 53); */
    background-color: #EC2049;
    display: flex;
    width: 50%;
    min-height: 60vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    padding-top: 30px;
}

.main-blocks
{
    display: flex;
    padding: 20px;
    align-items: end;
    justify-content: center;
    
}

.block-details
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.detail
{

    display: flex;
    flex-direction: row;
    padding: 20px;
    
}
.detail a 
{
    flex-basis: 40%;
}
.para
{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

/* ------------------------------- */
@media only screen and (min-width:600px) and (max-width : 1400px){
    .detail
    {
    
        flex-direction: column;
        padding: 10px ;
        align-items: center;
        justify-content: center;
        
    }
    .detail a 
    {
        padding-bottom: 10px;
    }
    .Contact-main 
    {
        display: flex;
        margin-top: 100px;
        margin-bottom: 30%;
    }
    .para p
    {
        justify-content: center;
    }

    .para 
    {
        align-items: left;
        justify-content: center;
    }
}

/* ------------------------------ */

@media only screen and (max-width:620px)
{
    .detail
    {
    
        flex-direction: column;
        padding: 10px ;
        align-items: center;
        
    }
    .Contact-main 
    {
        display: flex;
        margin-top: 100px;
        margin-bottom: 30%;
    }
    .para p
    {
        justify-content: center;
    }

}