.main
{
    /* background-color: #111838FF; */
    background-color:#2F9599;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Jura', sans-serif;
}

.main-cont 
{
    background-color: #EC2049;
    display: flex;
    width: 60%;
    min-height: 70vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Jura', sans-serif;
}

.cont-two
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 55vh;
    margin-top: 15px;
    width: 90%;
    font-family: 'Jura', sans-serif;
}

.about-me 
{
    font-size: 20px;
    padding-bottom: 10px;
}
.information 
{
    flex-basis: 30%;
    
}
.exp 
{
    flex-basis: 60%;
}

.exp-det 
{
    font-size: 20px;
    padding-bottom: 10px;
}
